:root {
  --c-bg-paper: #f4f1e8;
  --c-text-ink: #2b2b2b;
  --c-text-sub: #595857;
  --c-indigo: #223a70;
  --c-gold: #c7b370;
  --c-vermilion: #b64826;

  --max-width: 1000px;

  --font-sans: "Noto Sans JP", system-ui, -apple-system, "Segoe UI", Roboto,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  --font-serif: "Zen Old Mincho", "Noto Serif JP", serif;
}
